.header {
  display: flex;
  background-color: white;
  padding-block: 8px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mobileMenu {
  display: none;
}

.desktopNavigation {
  flex: 1;
}

@media (width <= 992px) {
  .right,
  .desktopNavigation {
    display: none;
  }

  .mobileMenu {
    display: block;
  }
}
