.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.skeletonButton {
  width: 180px;
  height: 47px;
}

@media (width <= 767px) {
  .content {
    padding: 16px;
  }
}
