.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  & > * {
    margin: 0;
  }
}

.title {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
}

.img {
  height: 186px;
  object-fit: contain;
  width: 186px;
}
