.card {
  padding: 0;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.metaList {
  display: flex;
  align-items: center;
  gap: 40px;
}

.meta {
  display: flex;
  align-items: center;
  gap: 12px;
}

.answer {
  margin: 0;
}

.meta {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.mobileActions {
  display: none;
  text-align: right;
}

@media (width <= 767px) {
  .desktopActions {
    display: none;
  }

  .mobileActions {
    display: block;
  }
}
