.card {
  background-color: white;
  box-shadow: 0px 4px 10px rgba(106, 99, 118, 0.1);
}

.lg {
  padding: 24px;
  border-radius: 24px;
}

.md {
  padding: 16px 24px;
  border-radius: 8px;
}

@media (width <= 991px) {
  .lg {
    padding: 16px;
    border-radius: 20px;
  }
  .md {
    padding: 20px 16px;
    border-radius: 16px;
  }
}

@media (width <= 767px) {
  .lg,
  .md {
    padding: 10px 10px 20px;
    border-radius: 12px;
  }
}
